.contenedor {
  display: grid;
  grid-template-columns: 10% minmax(40%, 1fr) minmax(50%, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:  "menu   quien   skills"
                        "menu   staff   servicios";
                      
                      
                        
                        
}
.contenedor .menu{
 background: #232b2e;
 grid-column-start: menu;
 grid-column-end: menu;
 grid-row: 1 / -1;
}
.contenedor .quien {
 background: #fff;
 grid-column-start: quien;
 grid-column-end: quien;
  
}
.contenedor .skills {
 background: #fff;
 grid-column-start: skills;
 grid-column-end: skills;

}
.contenedor .staff {
 background:rgba(255, 255, 255, 0.712);
 grid-column-start: staff;
 grid-column-end: staff;

}
.contenedor .servicios {
 background: #fff;
 grid-column-start: servicios;
 grid-column-end: servicios;
}


